body {
    background-color: rgb(241, 238, 233);
    flex-wrap: wrap;
}

.title {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    height: 20px;
    width: 100%;
    text-align: center;
}

.Edition {
    text-align: left;
    position: relative;
    top: 5px;
}

.date {
    text-align: right;
    position: relative;
    bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}
nav li {
    float: left;
}
li a {
    display: block;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center
}

main h2 {
    text-align: center;
    font-size: 40px;    
}

.pic {
    width: 40%;
    height: 40%;
    padding-left: 10%;
}


.columns {
    column-count: 2;
    column-gap: 50px;
    padding: 35px;
}

main p {
    line-height: 1.6;
    text-align: justify;
    margin: 0;
}

#About-Me {
    float: left;
    width: 350px;
    height: 450px; 
    margin-right: 10px;
    margin-left: 10px;
}